{{define "head"}}
<link rel="stylesheet" href="/static/css/places.css" />
<script src="/static/js/angular.js"></script>
<script src="/static/js/places.js"></script>
<script>
places.OAUTH_TOKEN = "{{.OAuthToken}}";
</script>
{{end}}
{{define "content"}}
<div id="map-canvas"></div>

<div ng-app="places_app">
<div id="sidebar" ng-controller="PlacesController">

<div id="controls">
<select ng-model="active_list"
        ng-options="list.name for list in lists"
        ng-change="updateMap()"></select>
</div> <!-- #controls -->

<div id="venues-list">
<li ng-repeat="venue in venues">
<h1>[[venue.name]]</h1>
<div>[[venue.location.address]] ([[venue.location.crossStreet]])</div>
<div>[[venue._places_primary_category.name]]</div>
</li>
</div> <!-- #venues-list -->

</div> <!-- #sidebar -->

</div> <!-- ng-app="places" -->
{{end}}
