{{define "head"}}
<link rel="stylesheet" href="/static/css/places.css" />
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkaFywaF2xqKiowMc-5DWVOdEFJzREygU&sensor=false&libraries=geometry"></script>
<script src="/static/js/angular.js"></script>
<script src="/static/js/lodash.min.js"></script>
<script src="/static/js/angular-google-maps.min.js"></script>
<script src="/static/js/places.js"></script>
<script>
places.OAUTH_TOKEN = "{{.OAuthToken}}";
</script>
{{end}}
{{define "content"}}
<div ng-app="places_app" ng-controller="PlacesController" style="height: 100%;">
<div id="map">
<google-map center="map.center"
            zoom="map.zoom"
            control="map.controller"
            draggable="true">
<marker ng-repeat="venue in venues"
        idKey="venue.id"
        coords="venue.location"></marker>
</google-map>
</div>

<div id="sidebar">

<div id="controls">
<select ng-model="active_list"
        ng-options="list.name for list in lists"
        ng-change="updateMap()"></select>
</div> <!-- #controls -->

<div id="venues-list">
<li ng-repeat="venue in venues | filter:visibleVenues | orderBy:distanceToCenter">
<h1>[[venue.name]]</h1>
<div>[[venue.location.address]] ([[venue.location.crossStreet]])</div>
<div>[[venue._places_primary_category.name]]</div>
</li>
</div> <!-- #venues-list -->

</div> <!-- #sidebar -->

</div> <!-- ng-app ng-controller -->
{{end}}
