html {
    height: 100%;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 10pt;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

#container {
    height: 100%;
    min-height: 100%;
    width: 100%;
    position: relative;
}

#controls {
    width: 100%;
    height: 60px;
}

#map {
    /* TODO: make the map span the rest of the vertical space */
    height: 90%;
    width: 65%;
    float: left;
    position: relative;
}

.angular-google-map-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
}

#venues {
    height: 90%;
    width: 35%;
    float: left;
    overflow: scroll;
}

#venues ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#venues li {
    display: block;
    padding: 1em;
    margin: 0;
    border-bottom: 1px solid #eee;
}

#venues li.selected {
    background-color: #ddd;
}

#venues h1 {
    font-size: 10pt;
    margin: 0;
    padding: 0;
}
