html {
    height: 100%;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 10pt;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map-canvas {
    height: 100%;
    width: 65%;
    float: left;
}

#sidebar {
    height: 100%;
    width: 35%;
    float: left;
    overflow: hidden;
}

#venues-list {
    height: 100%;
    overflow: scroll;
}

#venues-list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#venues-list li {
    display: block;
    padding: 1em;
    margin: 0;
    border-bottom: 1px solid #eee;
}

#venues-list li.selected {
    background-color: #ddd;
}

#venues-list h1 {
    font-size: 10pt;
    margin: 0;
    padding: 0;
}
